#sir {
    background-color: green;
    float: left;
    display: flex;
    /* flex-grow: 1; */
    align-items: center;

}

#mypic {
    border-radius: 49%;

    box-shadow: 0px 0px 10px gray;
}

#aboutus {
    background-color: rgba(217, 217, 238, 0.058);
    font-size: 45px;
    text-align: center;
}

#newtable {
    border: 'none',
}

#newtable td,
#newtable th {
    border: none;
}

#myname {
    font-size: 18px;
    /* background-color: red; */
    width:200px;
    font-family: 'Franklin Gothic Medium';
    text-align: right;
}

#jas {
    /* background-color: green; */
    /* width: 20px; */
    font-size: 18px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}